 <!-- breadcrumb-section -->
 <div class="breadcrumb-section breadcrumb-bg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 offset-lg-2 text-center">
                <div class="breadcrumb-text">
                    <p>We sale eco-friendly products</p>
                    <h1>About Us</h1>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end breadcrumb section -->
<!-- featured section -->
<div class="eco">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="featured-text">
                    <h2 class="pb-3">Why <span class="green-text">Eco</span></h2>
                    <div class="row">
                        <div class="col-lg-6 col-md-6 mb-4 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <fa-icon [icon]="faShippingFast"></fa-icon>
                                </div>
                                <div class="content">
                                    <h3>Home Delivery</h3>
                                    <p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque
                                        ipsa quae ab illo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <fa-icon [icon]="faMoneyBillAlt"></fa-icon>
                                </div>
                                <div class="content">
                                    <h3>Best Price</h3>
                                    <p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque
                                        ipsa quae ab illo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 mb-5 mb-md-5">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <fa-icon [icon]="faBriefcase"></fa-icon>
                                </div>
                                <div class="content">
                                    <h3>Custom Box</h3>
                                    <p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque
                                        ipsa quae ab illo.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6">
                            <div class="list-box d-flex">
                                <div class="list-icon">
                                    <fa-icon [icon]="faSyncAlt"></fa-icon>
                                </div>
                                <div class="content">
                                    <h3>Quick Refund</h3>
                                    <p>sit voluptatem accusantium dolore mque laudantium, totam rem aperiam, eaque
                                        ipsa quae ab illo.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="responsive-container-block container">
    <p class="text-blk team-head-text">
      Our <span class="green-text">Team</span>
    </p>
    <div class="responsive-container-block">
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
        <div class="card">
          <div class="team-image-wrapper">
            <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png">
          </div>
          <p class="text-blk name">
            Sara Sherif
          </p>
          <p class="text-blk position">
            Team leader
          </p>
          <p class="text-blk feature-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="social-icons">
            
            <a href="https://www.linkedin.com/in/nadashoman0/" target="_blank">
                <img class="linkedin-icon" src="../../assets/img/LinkedIn.png" width="20px">
            </a>
            <a href="https://www.facebook.com" target="_blank">
              <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
            </a>
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
        <div class="card">
          <div class="team-image-wrapper">
            <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png">
          </div>
          <p class="text-blk name">
            Habiba Magdy
          </p>
          <p class="text-blk position">
            CEO
          </p>
          <p class="text-blk feature-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="social-icons">
            <a href="https://www.linkedin.com/in/nadashoman0/" target="_blank">
              <img class="linkedin-icon" src="../../assets/img/LinkedIn.png" width="20px">
            </a>
            <a href="https://www.facebook.com" target="_blank">
              <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
            </a>
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
        <div class="card">
          <div class="team-image-wrapper">
            <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png">
          </div>
          <p class="text-blk name">
            Nada Shoman
          </p>
          <p class="text-blk position">
            CEO
          </p>
          <p class="text-blk feature-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="social-icons">
            <a href="https://www.linkedin.com/in/nadashoman0/" target="_blank">
              <img class="linkedin-icon" src="../../assets/img/LinkedIn.png" width="20px">
            </a>
            <a href="https://www.facebook.com" target="_blank">
              <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
            </a>
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
        <div class="card">
          <div class="team-image-wrapper">
            <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/ET7.15.png">
          </div>
          <p class="text-blk name">
            Alaa Elomda
          </p>
          <p class="text-blk position">
            CEO
          </p>
          <p class="text-blk feature-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="social-icons">
            <a href="https://www.linkedin.com/in/nadashoman0/" target="_blank">
              <img class="linkedin-icon" src="../../assets/img/LinkedIn.png" width="20px">
            </a>
            <a href="https://www.facebook.com" target="_blank">
              <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
            </a>
          </div>
        </div>
      </div>
      <div class="responsive-cell-block wk-desk-3 wk-ipadp-3 wk-tab-6 wk-mobile-12 card-container">
        <div class="card">
          <div class="team-image-wrapper">
            <img class="team-member-image" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/expert1.png">
          </div>
          <p class="text-blk name">
            Bassant Ammar
          </p>
          <p class="text-blk position">
            CEO
          </p>
          <p class="text-blk feature-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </p>
          <div class="social-icons">
            <a href="https://www.linkedin.com/in/nadashoman0/" target="_blank">
              <img class="linkedin-icon" src="../../assets/img/LinkedIn.png" width="20px">
            </a>
            <a href="https://www.facebook.com" target="_blank">
              <img class="facebook-icon" src="https://workik-widget-assets.s3.amazonaws.com/widget-assets/images/Icon-1.svg">
            </a>
          </div>
        </div>
      </div>
    </div>
</div>
