a{
    text-decoration: none;
}
.green-text{
  color:#198754;
}
/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
    width: 100%;
    height: 100vh;
    background-color: rgba(39, 37, 34, 0.8);
    overflow: hidden;
    padding: 0;
  }
  
  #hero .carousel-item {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  
  #hero .carousel-item::before {
    content: "";
    background-color: rgba(12, 11, 10, 0.3);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
  }
  
  #hero .carousel-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
  }
  
  #hero .carousel-content {
    text-align: center;
  }
  
  #hero h2 {
    color: #fff;
    margin: 30px 0;
    font-size: 48px;
    font-weight: 700;
  }
  
  #hero h2 span {
    color: #104b05;
  }
  
  #hero p {
    width: 80%;
    -webkit-animation-delay: 0.4s;
    animation-delay: 0.4s;
    margin: 0 auto 30px auto;
    color: #fff;
  }
  
  #hero .carousel-inner .carousel-item {
    transition-property: opacity;
    background-position: center top;
  }
  
  #hero .carousel-inner .carousel-item,
  #hero .carousel-inner .active.carousel-item-start,
  #hero .carousel-inner .active.carousel-item-end {
    opacity: 0;
  }
  
  #hero .carousel-inner .active,
  #hero .carousel-inner .carousel-item-next.carousel-item-start,
  #hero .carousel-inner .carousel-item-prev.carousel-item-end {
    opacity: 1;
    transition: 0.5s;
  }
  
  #hero .carousel-inner .carousel-item-next,
  #hero .carousel-inner .carousel-item-prev,
  #hero .carousel-inner .active.carousel-item-start,
  #hero .carousel-inner .active.carousel-item-end {
    left: 0;
    transform: translate3d(0, 0, 0);
  }
  
  #hero .carousel-control-next-icon,
  #hero .carousel-control-prev-icon {
    background: none;
    font-size: 30px;
    line-height: 0;
    width: auto;
    height: auto;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 50px;
    transition: 0.3s;
    color: rgba(255, 255, 255, 0.5);
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  #hero .carousel-control-next-icon:hover,
  #hero .carousel-control-prev-icon:hover {
    background: rgba(255, 255, 255, 0.3);
    color: rgba(255, 255, 255, 0.8);
  }
  
  #hero .carousel-indicators li {
    cursor: pointer;
  }
  
  #hero .btn-menu,
  #hero .btn-book{
    font-weight: 600;
    font-size: 13px;
    letter-spacing: 1px;
    text-transform: uppercase;
    display: inline-block;
    padding: 12px 30px;
    border-radius: 50px;
    transition: 0.5s;
    line-height: 1;
    margin: 0 10px;
    -webkit-animation-delay: 0.8s;
    animation-delay: 0.8s;
    color: #fff;
    border: 2px solid #104b05;
    text-decoration: none;
  }
  
  #hero .btn-menu:hover,
  #hero .btn-book:hover {
    background: #104b05;
    color: #fff;
  }
  
  @media (max-width: 768px) {
    #hero h2 {
      font-size: 28px;
    }
  }
  
  @media (min-width: 1024px) {
    #hero p {
      width: 50%;
    }
  
    #hero .carousel-control-prev,
    #hero .carousel-control-next {
      width: 5%;
    }
  }


  /* -----------------------------------------------------------------------------

# List Styles

----------------------------------------------------------------------------- */
.list-section {
    background-color: #f5f5f5;
  }
  .list-box {
    overflow: hidden;
    letter-spacing: 0.5px;
  }
  .list-box .content h3 {
    display: block;
    line-height: 22px;
    font-size: 18px;
    margin-bottom: 4px;
    font-weight: 700;
  }
  .list-box .content p {
    margin-bottom: 0px;
    opacity: 0.75;
  }
  .list-box .list-icon * {
    display: block;
    font-size: 24px;
    margin-right: 15px;
    color: #198754;
    width: 65px;
    height: 65px;
    text-align: center;
    line-height: 60px;
    border: 2px #198754 dotted;
    border-radius: 999px;
  } 


.section-title h3 {
    font-size: 40px;
    position: relative;
    padding-bottom: 15px;
    font-weight: 700;
}
.section-title h3:after {
  position: absolute;
  content: '';
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 50px;
  height: 2px;
  background-color: #198754;
  margin: 0 auto;
}
.section-title p {
  font-size: 15px;
  margin: 0 auto;
  color: #555;
  margin-top: 10px;
  line-height: 1.8;
  margin-bottom: 1.5rem;
}

/* -----------------------------------------------------------------------------

# Shop Banner Styles

----------------------------------------------------------------------------- */
 .shop-banner {
    position: relative;
    background-color: #f5f5f5;
    background-image: url(../../assets/img/1.jpg);
    background-size: cover;
    padding: 110px 0px 115px;
  }
  .shop-banner h3 {
    position: relative;
    font-size: 50px;
    line-height: 1.2em;
    margin-bottom: 0px;
  }
  .shop-banner .sale-percent {
    position: relative;
    font-size: 60px;
    font-weight: 700;
    color: #198754;
    padding: 20px 0;
  }
  .shop-banner .sale-percent span {
    position: relative;
    font-size: 24px;
    line-height: 1.1em;
    color: #051922;
    font-weight: 400;
    text-align: center;
    margin-right: 10px;
    display: inline-block;
  } 

  /* -----------------------------------------------------------------------------
  
  # Shop Page Styles
  
  ----------------------------------------------------------------------------- */
  .product-filters {
    margin-bottom: 80px;
  }
  .product-filters ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
  }
  .product-filters ul li {
    display: inline-block;
    font-weight: 700;
    font-size: 18px;
    margin: 15px;
    border: 2px solid #051922;
    color: #323232;
    cursor: pointer;
    padding: 8px 20px;
    border-radius: 25px;
  }
  .product-filters ul li.active {
    border: 2px solid #198754;
    background-color: #198754;
    color: #fff;
  }
  .single-product-item {
    box-shadow: 0 0 20px #e4e4e4;
    padding-bottom: 50px;
    border-radius: 5px;
  }
  .product-image {
    padding: 30px;
    padding-bottom: 0;
  }
  .product-image img {
    width: 90%;
    border-radius: 5px;
    margin-bottom: 20px;
    transition: 0.3s;
  }
  .single-product-item h3 {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    color: #051922;
  }
  p.product-price {
    font-family: 'Poppins', sans-serif;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 30px;
    color: #051922;
  }
  
  p.product-price span {
    display: block;
    opacity: 0.8;
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0;
  }
  a.cart-btn {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: #198754;
    color: #fff;
    padding: 10px 20px;
    border-radius: 50px;
  }
  a.cart-btn * {
    margin-right: 5px;
  }
  .single-product-img img {
    border-radius: 5px;
    box-shadow: 0 0 20px #ddd;
  }
  .single-product-content h3 {
    font-size: 22px;
    font-weight: 600;
  }
  p.single-product-pricing span {
    font-size: 18px;
    display: block;
    opacity: 0.8;
    margin-bottom: 10px;
    font-weight: 400;
  }
  .single-product-content p {
    font-size: 15px;
    color: #555;
    line-height: 1.8;
  }
  .single-product-content p.single-product-pricing {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 10px;
    color: #051922;
    line-height: inherit;
  }
  input[type="number"] {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    width: 100px;
    margin-bottom: 15px;
  }
  .single-product-form a.cart-btn {
    margin-bottom: 15px;
  }
  .single-product-content h4 {
    font-size: 20px;
    font-weight: 600;
    margin-top: 35px;
  }
  ul.product-share {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  ul.product-share li {
    display: inline-block;
  }
  ul.product-share li a {
    display: block;
    color: #051922;
    margin-right: 10px;
  }
  .single-product-content {
    margin-left: 30px;
  }
  table.cart-table {
    border: 1px solid #f9f9f9;
    width: 100%;
  }
  thead {
    border-bottom: 1px solid #eee;
  }
  tr.table-head-row th {
    border-right: 1px solid #efefef;
    padding: 15px;
    font-weight: 500;
    text-align: center;
  }
  tr.table-head-row th:last-child {
    border-right: none;
  }
  .cart-table-wrap tbody tr td {
    text-align: center;
  }
  td.product-image img {
    max-width: 50px;
    box-shadow: none;
    margin-bottom: 0;
  }
  .cart-table-wrap tbody tr td {
    border: 1px solid #efefef;
    padding: 20px 0;
    color: #051922;
  }
  thead.cart-table-head tr {
    background-color: #efefef;
  }
  td.product-quantity input {
    margin-bottom: 0;
  }
  td.product-remove a {
    color: #051922;
  }
  .total-section table.total-table {
    border: 1px solid #efefef;
    width: 100%;
  }
  tr.table-total-row {
    background-color: #efefef;
  }
  tr.table-total-row th {
    font-weight: 500;
    font-size: 15px;
    padding: 15px;
  }
  table.total-table tbody tr.total-data td {
    border: 1px solid #efefef;
    padding: 19px 15px;
  }
  tr.total-data td strong {
    margin-right: 32px;
  }
  .cart-buttons {
    margin-top: 30px;
  }
  .cart-buttons a:first-child {
    margin-right: 20px;
  }
  .coupon-section {
    margin-top: 50px;
  }
  .coupon-section h3 {
    font-size: 20px;
    font-weight: 500;
  }
  .coupon-form-wrap form p input[type=text] {
    border: 1px solid #ddd;
    color: #051922;
    padding: 15px;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
  }
  .card.single-accordion {
    margin-bottom: 15px;
    border-bottom: 1px solid #EFEFEF !important;
  }
  .card.single-accordion .card-header {
    background-color: #fff;
    border: none;
    padding: 0;
  }
  .card.single-accordion:last-child {
    margin-bottom: 0;
  }
  .card.single-accordion .card-header h5 button {
    color: #051922;
    font-size: 15px;
    display: block;
    width: 100%;
    text-align: left;
    padding: 20px;
    text-decoration: none;
    border: none;
    background-color: #EFEFEF;
    position: relative;
    padding-left: 50px;
    font-weight: 600;
  }
  .card.single-accordion {
    border: 1px solid #F9F9F9;
  }
  .billing-address-form {
    padding: 20px;
  }
  .billing-address-form form p input {
    border: 1px solid #ddd;
    padding: 15px;
    width: 100%;
    border-radius: 3px;
  }
  .billing-address-form form p textarea {
    width: 100%;
    border-radius: 3px;
    border: 1px solid #ddd;
    padding: 15px;
    height: 120px;
    resize: none;
  }
  .shipping-address-form p, .card-details p {
    margin: 0;
  }
  .card.single-accordion .card-header h5 button:before {
    position: absolute;
    left: 20px;
    top: 50%;
    content: "ï˜";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    line-height: 22px;
    margin-top: -11px;
    color: #198754;
  }
  .card.single-accordion .card-header h5 button:before .billing-address-form form p:last-child {
    margin-bottom: 0;
  }
  .card.single-accordion .card-header h5 button:before table.order-details {
    border: 1px solid #efefef;
  }
  .card.single-accordion .card-header h5 button:before table.order-details thead tr th {
    background-color: #efefef;
    padding: 18px;
    font-size: 15px;
    font-weight: 500;
  }
  .card.single-accordion .card-header h5 button:before table.order-details tbody td {
    border: 1px solid #efefef;
    padding: 15px;
  }
  .card.single-accordion .card-header h5 button:before .order-details-wrap > a {
    margin-top: 30px;
  }
  .card.single-accordion .card-header h5 button:before .card.single-accordion {
    border: 1px solid #eeeeee;
  }
  .card.single-accordion .card-header h5 button:before .single-product-item {
    box-shadow: 0 0 20px #e4e4e4;
    padding-bottom: 50px;
    border-radius: 5px;
  }

  /* ----------------------------------------------------------------------------- # Hover Styles ----------------------------------------------------------------------------- */
 a.navbar-brand {
  transition: 0.3s;
}
a.navbar-brand:hover {
  opacity: 0.7;
}
a.boxed-btn {
  transition: 0.3s;
}
a.boxed-btn:hover {
  background-color: #051922;
  color: #198754;
}
a.bordered-btn {
  transition: 0.3s;
}
a.bordered-btn:hover {
  background-color: #198754;
  color: #fff;
}
ul.sub-menu a {
  transition: 0.3s;
}
ul.sub-menu li:hover a {
  color: #198754;
}
.single-tof-box {
  transition: 0.3s;
}
.single-tof-box:hover {
  box-shadow: 0 0 80px #353535;
}
a.video-play-btn {
  transition: 0.3s;
}
a.video-play-btn:hover {
  background-color: #333;
  color: #198754;
}
.latest-news-bg {
  transition: 0.3s;
}
.single-latest-news:hover .latest-news-bg {
  opacity: 0.8;
}
a.tof-btn {
  transition: 0.3s;
}
a.tof-btn i {
  transition: 0.3s;
}
a.tof-btn:hover {
  color: #198754;
}
a.tof-btn:hover i {
  margin-left: 10px;
}
.single-latest-news {
  box-shadow: 0 0 20px #ddd;
  transition: 0.3s;
}
.single-latest-news:hover {
  box-shadow: 0 0 0;
  box-shadow: none;
}
.single-logo-item {
  transition: 0.3s;
}
.single-logo-item:hover {
  opacity: 0.7;
}
.footer-box.pages ul li a {
  transition: 0.3s;
}
.footer-box.pages ul li:hover a {
  color: #198754;
}
.footer-box.subscribe form button {
  transition: 0.3s;
}
.footer-box.subscribe form button:hover {
  background-color: #198754;
  color: #051922;
}
.social-icons ul li:hover a {
  color: #198754;
}
.social-icons ul li a {
  transition: 0.3s;
}
ul.social-link-team li a {
  transition: 0.3s;
}
ul.social-link-team li a:hover {
  background-color: #051922;
  color: #198754;
}
.counter-box {
  transition: 0.3s;
}
.counter-box:hover {
  box-shadow: 0 0 80px #6f6f6f;
}
input[type="submit"] {
  transition: 0.3s;
  border-radius: 50px !important;
}
input[type="submit"]:hover {
  background-color: #051922;
  color: #198754;
}
div.owl-controls, .owl-controls div {
  transition: 0.3s;
}
div.owl-controls div.owl-nav div:hover {
  opacity: 0.7;
}
.pagination-wrap ul li a {
  transition: 0.3s;
}
.pagination-wrap ul li:hover a {
  background-color: #198754;
}
.icons a i {
  transition: 0.3s;
}
.icons a:hover i {
  color: #198754;
}
.tof-text a.tof-btn {
  margin-top: 15px;
  display: inline-block;
}
.single-pricing-table {
  transition: 0.3s;
}
.single-pricing-table:hover {
  box-shadow: 0 0 20px #ddd;
}
.product-image img {
  transition: 0.3s;
}
.product-image img:hover {
  box-shadow: none;
}
a.cart-btn {
  transition: 0.3s;
}
a.cart-btn:hover {
  background-color: #051922;
  color: #198754;
}
.recent-posts ul li {
  transition: 0.3s;
}
.recent-posts ul li:hover {
  opacity: 0.7;
}
ul.sub-menu li a {
  transition: 0.3s;
}
ul.sub-menu li:hover a {
  color: #198754 !important;
}
.sidebar-section ul li a {
  transition: 0.3s;
}
.sidebar-section ul li a:hover {
  opacity: 0.7;
}
.comment-text-body h4 a {
  transition: 0.3s;
}
.comment-text-body h4 a:hover {
  color: #198754;
}
ul.product-share li a {
  transition: 0.3s;
}
ul.product-share li:hover a {
  color: #198754;
}
.service-menu ul li a {
  transition: 0.3s;
}
.service-menu ul li a.active {
  font-weight: 600;
  color: #ffe200;
}
.service-menu ul li a:hover {
  color: #ffe200;
}
.single-product-item {
  transition: 0.3s;
}
.single-product-item:hover {
  box-shadow: none;
}
.search-bar-tablecell button[type=submit] {
  transition: 0.3s;
}
.search-bar-tablecell button[type=submit]:hover {
  background-color: #fff;
  color: #000;
}
span.close-btn {
  transition: 0.3s;
}
span.close-btn:hover {
  color: #fff;
}
a.mobile-show.search-bar-icon {
  transition: 0.3s;
}
a.mobile-show.search-bar-icon:hover {
  color: #198754;
}

  
  

  
  