.body {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1px;
    line-height: 1.8;
    color: #051922;
    overflow-x: hidden;
}

.body img {
    max-width: 100%;
}

a {
    cursor: pointer;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

a:hover {
    color: #F28123;
    text-decoration: none;
}

h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin: 0 0 1.25rem 0;
    color: #051922;
}

h1:last-child,
.h1:last-child,
h2:last-child,
.h2:last-child,
h3:last-child,
.h3:last-child,
h4:last-child,
.h4:last-child,
h5:last-child,
.h5:last-child,
h6:last-child,
.h6:last-child {
    margin: 0;
}

h1,
.h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 4rem;
}

@media only screen and (max-width: 767.96px) {

    h1,
    .h1 {
        font-size: 3rem;
        line-height: 3.25rem;
    }
}

@media only screen and (max-width: 575.96px) {

    h1,
    .h1 {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
}

h2,
.h2 {
    font-size: 3rem;
    font-weight: 700;
    line-height: 3.25rem;
}

@media only screen and (max-width: 767.96px) {

    h2,
    .h2 {
        font-size: 2.5rem;
        line-height: 2.75rem;
    }
}

@media only screen and (max-width: 575.96px) {

    h2,
    .h2 {
        font-size: 2rem;
        line-height: 2.25rem;
    }
}

h3,
.h3 {
    font-size: 2rem;
    font-weight: 700;
    line-height: 2.25rem;
}

@media only screen and (max-width: 575.96px) {

    h3,
    .h3 {
        font-size: 1.75rem;
        line-height: 2rem;
    }
}

h4,
.h4 {
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1.75rem;
}

@media only screen and (max-width: 575.96px) {

    h4,
    .h4 {
        font-size: 1.25rem;
        line-height: 1.5rem;
    }
}

h5,
.h5 {
    font-size: 1.25rem;
    font-weight: 700;
    line-height: 1.5rem;
}

h6,
.h6 {
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.5rem;
}

p {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 1rem;
    letter-spacing: 0.1px;
    line-height: 1.8;
    color: #051922;
    margin: 0 0 1.25rem 0;
}

p:last-child {
    margin: 0;
}

.loader {
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1111;
    background: #fff;
    overflow-x: hidden;
}

.loader-inner {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    height: 50px;
    width: 50px;
}

.circle {
    width: 8vmax;
    height: 8vmax;
    border-right: 4px solid #000;
    border-radius: 50%;
    -webkit-animation: spinRight 800ms linear infinite;
    animation: spinRight 800ms linear infinite;
}

.circle:before {
    content: '';
    width: 6vmax;
    height: 6vmax;
    display: block;
    position: absolute;
    top: calc(50% - 3vmax);
    left: calc(50% - 3vmax);
    border-left: 3px solid #F28123;
    border-radius: 100%;
    -webkit-animation: spinLeft 800ms linear infinite;
    animation: spinLeft 800ms linear infinite;
}

.circle:after {
    content: '';
    width: 6vmax;
    height: 6vmax;
    display: block;
    position: absolute;
    top: calc(50% - 3vmax);
    left: calc(50% - 3vmax);
    border-left: 3px solid #F28123;
    border-radius: 100%;
    -webkit-animation: spinLeft 800ms linear infinite;
    animation: spinLeft 800ms linear infinite;
    width: 4vmax;
    height: 4vmax;
    top: calc(50% - 2vmax);
    left: calc(50% - 2vmax);
    border: 0;
    border-right: 2px solid #000;
    -webkit-animation: none;
    animation: none;
}

@-webkit-keyframes spinLeft {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

@keyframes spinLeft {
    from {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    to {
        -webkit-transform: rotate(720deg);
        transform: rotate(720deg);
    }
}

@-webkit-keyframes spinRight {
    from {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes spinRight {
    from {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

    to {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

.mt-80 {
    margin-top: 80px;
}

@media only screen and (max-width: 767.96px) {
    .mt-80 {
        margin-top: 50px;
    }
}

.mb-80 {
    margin-bottom: 80px;
}

@media only screen and (max-width: 767.96px) {
    .mb-80 {
        margin-bottom: 50px;
    }
}

.mt-100 {
    margin-top: 100px;
}

@media only screen and (max-width: 767.96px) {
    .mt-100 {
        margin-top: 80px;
    }
}

.mb-100 {
    margin-bottom: 100px;
}

@media only screen and (max-width: 767.96px) {
    .mb-100 {
        margin-bottom: 80px;
    }
}

.mt-150 {
    margin-top: 150px;
}

@media only screen and (max-width: 767.96px) {
    .mt-150 {
        margin-top: 100px;
    }
}

.mb-150 {
    margin-bottom: 150px;
}

@media only screen and (max-width: 767.96px) {
    .mb-150 {
        margin-bottom: 100px;
    }
}

.pt-80 {
    padding-top: 80px;
}

@media only screen and (max-width: 767.96px) {
    .pt-80 {
        padding-top: 50px;
    }
}

.pb-80 {
    padding-bottom: 80px;
}

@media only screen and (max-width: 767.96px) {
    .pb-80 {
        padding-bottom: 50px;
    }
}

.pt-100 {
    padding-top: 100px;
}

@media only screen and (max-width: 767.96px) {
    .pt-100 {
        padding-top: 80px;
    }
}

.pb-100 {
    padding-bottom: 100px;
}

@media only screen and (max-width: 767.96px) {
    .pb-100 {
        padding-bottom: 80px;
    }
}

.pt-150 {
    padding-top: 150px;
}

@media only screen and (max-width: 767.96px) {
    .pt-150 {
        padding-top: 100px;
    }
}

.pb-150 {
    padding-bottom: 150px;
}

@media only screen and (max-width: 767.96px) {
    .pb-150 {
        padding-bottom: 100px;
    }
}

.gray-bg {
    background-color: #f5f5f5;
}

.orange-text {
    color: #F28123;
}

.blue-bg {
    background-color: #162133;
}

a.boxed-btn {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    background-color: #F28123;
    color: #fff;
    padding: 10px 20px;
}

a.bordered-btn {
    font-family: 'Poppins', sans-serif;
    display: inline-block;
    color: #fff;
    border: 2px solid #F28123;
    padding: 7px 20px;
}

a.read-more-btn {
    display: inline-block;
    margin-top: 15px;
    color: #051922;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-weight: 700;
}

a.read-more-btn:hover {
    color: #F28123;
}

a.boxed-btn,
a.bordered-btn,
a.cart-btn {
    border-radius: 50px;
}

.section-title h3 {
    font-size: 40px;
    position: relative;
    padding-bottom: 15px;
}

.section-title h3:after {
    position: absolute;
    content: '';
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 50px;
    height: 2px;
    background-color: #F28123;
    margin: 0 auto;
}

.section-title p {
    font-size: 15px;
    width: 530px;
    margin: 0 auto;
    color: #555;
    margin-top: 10px;
    line-height: 1.8;
}

.section-title {
    margin-bottom: 80px;
}

.breadcrumb-bg {
    background-image: url(../../assets/img/breadcrumb-bg.jpg);
}

.breadcrumb-text p {
    color: #F28123;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.breadcrumb-text h1 {
    font-size: 50px;
    font-weight: 900;
    color: #fff;
    margin: 0;
    margin-top: 20px;
}

.breadcrumb-section {
    padding: 150px 0;
    background-size: cover;
    background-position: center center;
    position: relative;
    z-index: 1;
    background-attachment: fixed;
    padding-top: 200px;
}

.breadcrumb-section:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #07212e;
    z-index: -1;
    opacity: 0.8;
}

ul.navbar-nav li.nav-item a.nav-link,
ul.navbar-nav li.nav-item.active a.nav-link {
    color: #051922;
}

.top-header-area {
    position: absolute;
    z-index: 999;
    width: 100%;
    padding: 25px 0;
}

.top-header-area.white ul.navbar-nav li.nav-item a.nav-link,
.top-header-area.white ul.navbar-nav li.nav-item.active a.nav-link {
    color: #fff;
}

ul.navbar-nav li.nav-item a.nav-link,
ul.navbar-nav li.nav-item.active a.nav-link {
    color: #fff;
    font-weight: 700;
    margin-right: 14px;
}

a.navbar-brand img {
    max-width: 150px;
}

nav.main-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

nav.main-menu ul li {
    display: inline-block;
}

nav.main-menu ul li a {
    color: #fff;
    font-weight: 700;
    display: block;
    padding: 15px;
}

nav.main-menu ul>li {
    position: relative;
}

nav.main-menu ul ul.sub-menu {
    position: absolute;
    background-color: #fff;
    width: 220px;
    padding: 15px 15px;
    margin: 0;
    left: 0;
    top: 50px;
    border-radius: 3px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    opacity: 0;
    visibility: hidden;
    -webkit-box-shadow: 0 0 20px #555555;
    box-shadow: 0 0 20px #555555;
}

nav.main-menu ul ul.sub-menu li {
    display: block;
    text-align: left;
}

nav.main-menu ul ul.sub-menu li a {
    color: #555;
    font-weight: 600;
    padding: 7px 10px;
    font-size: 13px;
}

nav.main-menu ul>li:hover ul {
    opacity: 1;
    visibility: visible;
}

nav.main-menu ul li:last-child a {
    display: inline-block;
}

nav.main-menu>ul li:last-child {
    float: right;
}

.site-logo {
    float: left;
    max-width: 150px;
}

ul.sub-menu li:last-child {
    float: none !important;
}

.mean-container .mean-bar {
    background-color: transparent;
    position: absolute;
    right: 0;
    top: 15px;
}

.mean-bar a.meanmenu-reveal {
    background-color: #F28123;
}

.main-menu-wrap {
    position: relative;
}

.mean-container a.meanmenu-reveal {
    color: #051922;
}

.mean-container a.meanmenu-reveal span {
    background-color: #051922;
}

.mean-container .mean-nav ul li a {
    padding: 0.5em 5%;
}

.mean-container .mean-nav ul li li a {
    padding: 0.5em 10%;
}

.mean-container .mean-nav ul li a.mean-expand {
    font-size: 16px;
    height: 10px;
    line-height: 10px;
    width: 15px;
}

.mean-container a.meanmenu-reveal {
    padding: 8px 8px 6px;
}

nav.mean-nav>ul>li:first-child>a {
    border-top: none;
}

.header-icons a {
    color: #fff;
    display: inline-block;
    padding: 10px;
}

.site-logo {
    padding: 6px 0;
}

.top-header-area.sepherate-header ul li>a,
.top-header-area.sepherate-header .header-icons a {
    color: #051922;
}

nav.main-menu ul ul.sub-menu li {
    display: block;
}

nav.main-menu ul ul.sub-menu li a {
    color: #555;
    padding: 8px;
    font-size: 13px;
    font-weight: 600;
}

nav.main-menu ul li.current-list-item>a {
    color: #F28123;
}

nav.main-menu li:hover>a {
    color: #F28123;
}

nav.main-menu li a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.top-header-area .header-icons a {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.top-header-area .header-icons a:hover {
    color: #F28123;
}

.sticky-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999 !important;
}

.sticky-wrapper.is-sticky .top-header-area {
    background-color: #051922;
    padding: 15px 0;
}

.top-header-area {
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

ul.navbar-nav {
    margin: 0 auto;
}

.search-area {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 5555;
    background-color: #051922;
    width: 100%;
    height: 100%;
    text-align: center;
}

span.close-btn {
    position: absolute;
    right: 0%;
    color: #fff;
    top: 5%;
    cursor: pointer;
}

.search-area {
    height: 100%;
}

.search-area div {
    height: 100%;
}

.search-bar {
    height: 100%;
    display: table;
    width: 100%;
}

a.mobile-show {
    display: none;
}

.search-area .search-bar div.search-bar-tablecell {
    display: table-cell;
    vertical-align: middle;
    height: auto;
}

.search-bar-tablecell input {
    border: none;
    padding: 15px;
    width: 60%;
    background-color: transparent;
    border-bottom: 1px solid #F28123;
    display: block;
    margin: 0 auto;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    margin-bottom: 40px;
    color: #fff;
}

.search-bar-tablecell button[type=submit] {
    border: none;
    background-color: #F28123;
    padding: 15px 30px;
    cursor: pointer;
    display: inline-block;
    border-radius: 50px;
    font-weight: 700;
}

.search-bar-tablecell input::-webkit-input-placeholder {
    color: #fff;
}

.search-bar-tablecell input:-ms-input-placeholder {
    color: #fff;
}

.search-bar-tablecell input::-ms-input-placeholder {
    color: #fff;
}

.search-bar-tablecell input::placeholder {
    color: #fff;
}

.search-bar-tablecell button[type=submit] i {
    margin-left: 5px;
}

.search-area {
    visibility: hidden;
    opacity: 0;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}

.search-area.search-active {
    visibility: visible;
    opacity: 1;
    z-index: 999;
}

.search-bar-tablecell h3 {
    color: #fff;
    margin-bottom: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 7px;
}

.hero-bg {
    background-image: url(../../assets/img/hero-bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hero-text {
    display: table;
    height: 100%;
}

.hero-text-tablecell {
    display: table-cell;
}

.hero-area {
    height: 100%;
    position: relative;
    z-index: 1;
}

html,
body {
    height: 100%;
}

.hero-area:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    content: "";
    background-color: #07212e;
    z-index: -1;
    opacity: 0.6;
}

.hero-text p.subtitle {
    color: #F28123;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 7px;
    font-size: 15px;
}

.hero-text h1 {
    font-size: 64px;
    font-weight: 700;
    line-height: 1.3;
    color: #fff;
}

.hero-area div {
    height: 100%;
}

.hero-area div.hero-text {
    height: 100%;
    width: 100%;
}

.hero-area div.hero-text-tablecell {
    height: auto;
    vertical-align: middle;
}

.hero-area div.hero-text-tablecell div {
    height: auto;
    vertical-align: middle;
}

.hero-btns {
    margin-top: 35px;
}

.hero-btns a.bordered-btn {
    margin-left: 15px;
}

.hero-area div.hero-form {
    background-color: #fff;
    text-align: center;
    width: 380px;
    margin: 0 auto;
    margin-right: 0;
    border-radius: 5px;
    -webkit-box-shadow: 0 0 15px #2d2d2d;
    box-shadow: 0 0 15px #2d2d2d;
    position: absolute;
    right: 30px;
    bottom: -15%;
    height: 600px;
}

input[type="submit"] {
    background-color: #F28123;
    color: #051922;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 15px;
    border: none !important;
    cursor: pointer;
    padding: 15px 25px;
    border-radius: 3px;
}

.homepage-bg-1 {
    background-image: url(../../assets/img/hero-bg.jpg);
}

.homepage-bg-2 {
    background-image: url(../../assets/img/hero-bg-2.jpg);
}

.homepage-bg-3 {
    background-image: url(../../assets/img/hero-bg-3.jpg);
}

.homepage-slider {
    height: 100%;
}

.homepage-slider div {
    height: 100%;
}

.homepage-slider div.hero-text {
    display: table;
    width: 100%;
}

.homepage-slider div.hero-text-tablecell {
    height: auto;
    vertical-align: middle;
    display: table-cell;
}

.homepage-slider div.hero-text-tablecell div {
    height: auto;
}

.single-homepage-slider {
    background-size: cover;
    background-position: center;
    background-color: #020C0E;
    position: relative;
    z-index: 1;
}

.single-homepage-slider:after {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #051922;
    content: "";
    z-index: -1;
    opacity: 0.7;
}

div.owl-controls,
.owl-controls div {
    height: auto;
    top: 50%;
    color: #F28123;
    font-size: 48px;
}

.homepage-slider {
    position: relative;
}

.owl-prev {
    position: absolute;
    left: 60px;
    margin-top: -30px;
}

.owl-next {
    position: absolute;
    right: 60px;
    margin-top: -30px;
}
/*responsive*/
@media only screen and (min-width: 992px) {
}

@media only screen and (min-width: 992px) and (max-width: 1200px) { 
	.hero-text h1 {
	    font-size: 45px;
	}

	a.video-play-btn {
		right: 51%;
	}
	.hero-area div.hero-form {
		bottom: -20%;
	}

	.cart-buttons a:first-child {
	    margin-right: 0;
	    margin-bottom: 15px;
	}
	.contact-form form p input[type=email] {
	    margin-left: 8px;
	}
	.contact-form-box h4 i {
	    left: -20%;
	}
	.comment-template form p input[type=email] {
	    margin-left: 8px;
	}
	ul.main-menu li a {
	    padding: 15px 13px;
	}
	span.close-btn {
	    right: 0;
	}
	ul.sub-menu li a {
	    padding: 7px 10px;
	}

}
/* Tablet Layout: 768px. */
@media only screen and (min-width: 768px) and (max-width: 991px) { 
	.hero-text h1 {
	    font-size: 40px;
	}
	.footer-box {
	    margin-bottom: 40px;
	}
	.copyright p {
	    text-align: center;
	}
	.copyright .social-icons {
	    text-align: center;
	}
	.feature-bg:after {
		display: none;
	}
	.single-team-item {
	    margin-bottom: 30px;
	}
	table.cart-table {
	    margin-bottom: 50px;
	}
	.order-details-wrap {
	    margin-top: 50px;
	}
	.contact-form form p input[type=text], 
	.contact-form form p input[type=tel], 
	.contact-form form p input[type=email] {
	    width: 100%;
	}

	.contact-form form p input[type=email] {
	    margin-left: 0;
	    margin-top: 15px;
	}
	.contact-form form p input[type=tel] {
		margin-bottom: 15px;
	}

	.hero-area div.hero-form {
		width: 325px;
		top: 30%;
	}

	.comment-template form p input[type=text], 
	.comment-template form p input[type=email] {
	    width: 100%;
	}

	.comment-template form p input[type=email] {
	    margin-top: 15px;
	    margin-left: 0;
	}
	.sidebar-section {
	    margin-left: 0;
	    margin-top: 50px;
	}
	.single-product-img {
	    margin-bottom: 30px;
	}
	.single-product-img img {
	    width: 100%;
	}
	.single-project-img img {
	    width: 100%;
	}
	.site-logo a img {
	    max-width: 150px;
	}
	.site-logo {
	    text-align: center;
	    position: absolute;
	    z-index: 999;
	}
	.mean-container .mean-bar {
		z-index: 2;
	}
	.responsive-menu-wrap {
	    display: block;
	}
	.header-icons {
	    text-align: center;
	}
	.top-header-area {
	    padding: 15px 0;
	}

	.responsive-menu-wrap {
	    position: absolute;
	    top: 0;
	}

	.featured-section {
	    padding: 0;
	}

	.responsive-menu-wrap {
	    left: 50%;
	    margin-top: 10px;
	    margin-left: -57.5px;
	}
	.hero-text-tablecell {
	    padding: 0px 70px;
	}
	.hero-form .hero-text h1 {
	    font-size: 30px;
	}

	.hero-form .hero-text p.subtitle {
	    font-size: 13px;
	}

	.hero-form .hero-btns a.bordered-btn {
	    margin-left: 0;
	    margin-top: 20px;
	}

	.sticky-wrapper.is-sticky .top-header-area {
	    position: absolute!important;
	    background-color: transparent;
	}
	.featured-box {
	    padding: 30px;
	}

	.featured-section {
	    padding: 100px 0;
	}
	nav.main-menu {
	    display: none;
	}
	table.order-details {
	    width: 100%;
	}
	.contact-form-box h4 i {
	    left: -7%;
	}
	.single-product-content h3 {
	    font-size: 20px;
	    font-weight: 500;
	    line-height: 1.6;
	}

	.single-product-content {
	    margin-left: 15px;
	}
	a.mobile-hide.search-bar-icon {
	    display: none!important;
	}
	.mobile-show {
		display: block!important;
	}
	a.mobile-show.search-bar-icon {
	    position: absolute;
	    right: 60px;
	    top: 22px;
	    z-index: 999;
	    color: #fff;
	}

}

/* Mobile Layout: 320px. */
@media only screen and (max-width: 767px) {

	.site-logo img {
	    max-width: 150px;
	}

	.responsive-menu-wrap {
	    top: -35px;
	}

	span.close-btn {
		right: 35px;
	}
	.header-icons {
	    text-align: center;
	}
	.hero-text h1 {
	    font-size: 28px;
	}

	.hero-text p.subtitle {
	    font-size: 13px;
	}
	.section-title p {
	    max-width: 400px;
	}

	.section-title h3 {
	    font-size: 25px;
	}

	p.testimonial-body {
	    font-size: 15px;
	}
	.responsive-menu {
	    left: auto;
	    right: 0;
	}

	.featured-section {
	    padding: 0;
	}

	a.video-play-btn {
	    right: auto;
	    left: 50%;
	    margin-left: -45px;
	}

	.shop-banner h3 {
		font-size: 34px;
	}

	.footer-box {
	    margin-bottom: 50px;
	}

	.copyright p {
	    text-align: center;
	}

	.social-icons {
	    text-align: center;
	}

	.footer-area {
		padding: 80px 0;
	}

	.hero-text {
	    text-align: center;
	}

	.responsive-menu-wrap {
	    position: relative;
	}

	.breadcrumb-text h1 {
	    font-size: 30px;
	}

	.feature-bg:after {
	    display: none;
	}
	
	.text-block {
	    margin-bottom: 50px;
	}

	.single-team-item {
	    margin-bottom: 50px;
	}

	.team-bg {
	    height: 450px;
	}

	.total-section {
	    margin-top: 30px;
	}

	.order-details-wrap {
	    margin-top: 50px;
	}

	.contact-form form p input[type=text], 
	.contact-form form p input[type=tel], 
	.contact-form form p input[type=email] {
	    width: 100%;
	}
	.contact-form form p input[type=tel] {
		margin-bottom: 15px;
	}

	.contact-form form p input[type=email] {
	    margin-left: 0;
	    margin-top: 15px;
	}

	.find-location p {
	    font-size: 20px;
	}

	.comment-template form p input[type=email] {
	    margin-left: 0;
	    margin-top: 15px;
	}

	.comment-template form p input[type=text], 
	.comment-template form p input[type=email] {
	    width: 100%;
	}

	.sidebar-section {
	    margin-left: 0;
	    margin-top: 50px;
	}

	.single-product-content {
	    margin-left: 0;
	    margin-top: 15px;
	}

	.single-product-content h3 {
	    font-size: 20px;
	    line-height: 1.5;
	}

	.product-image {
	    padding: 60px;
	    padding-bottom: 0;
	}

	.header-icons {
	    text-align: right;
	    margin-top: 15px;
	}

	.feature-bg {
	    margin: 100px 0;
	}

	.margin-top-150p {
	    margin-top: 650px;
	}

	.display-hidden {
	    display: none;
	}

	.hero-area div.hero-form {
		right: 0;
	}

	.hero-btns a.boxed-btn {
	    display: block;
	    margin: 0 auto;
	}

	.hero-btns {
	    text-align: center;
	}

	.hero-btns a.bordered-btn {
	    margin-left: 0;
	    margin-top: 15px;
	    display: block;
	}
	.hero-area div.hero-form {
		width: auto;
	}
	.section-title p {
		max-width: 285px;
	}

	p.testimonial-body {
		max-width: 285px;
	}
	.hero-area div.hero-form {
		top: 0;
	}
	.single-media-wrap h4 {
	    font-size: 15px;
	}

	.sticky-wrapper.is-sticky .top-header-area {
	    position: absolute!important;
	    background-color: transparent;
	    padding: 25px 0;
	}
	.featured-box {
	    padding: 0 45px;
	    margin-bottom: 10px;
	}

	.featured-section {
	    padding: 100px 0;
	}
	.search-bar-tablecell input {
	    font-size: 20px;
	}
	.header-icons {
		margin-top: 0;
	}
	.site-logo {
    position: absolute;
	    z-index: 99;
	}

	.mean-container .mean-bar {
	    z-index: 2;
	}
	.section-title {
	    margin-bottom: 50px;
	}
	.service-text h3 {
	    font-size: 18px;
	}
	.featured-box h2 {
	    font-size: 23px;
	}

	.featured-box h3 {
	    font-size: 18px;
	}

	.cta-text h3 {
	    line-height: 1.6;
	}

	.news-text-box h3 {
	    font-size: 20px;
	    line-height: 1.5;
	}

	.copyright p {
	    padding-bottom: 0;
	}
	.single-service-box {
	    padding: 30px;
	}

	.service-icon-table {
	    height: 80px;
	}

	.service-icon-tablecell i {
	    font-size: 30px;
	}

	.main-menu {
	    display: none;
	}
	.error-text h1 {
	    font-size: 25px;
	}
	h2.widget-title {
	    font-size: 20px;
	}
	.cart-table-wrap {
	    width: 100%;
	    overflow-x: scroll;
	}
	table.cart-table {
		width: 690px;
	}
	.cart-buttons a:first-child {
	    margin-bottom: 15px;
	}
	.form-title h2 {
	    font-size: 20px;
	}

	.contact-form-box h4 i {
	    left: -20%;
	}
	.featured-text p {
	    line-height: 1.8;
	}
	.single-artcile-bg {
	    height: 300px;
	}

	.single-article-text h2 {
	    font-size: 20px;
	}

	.comments-list-wrap h3, .comment-template h4 {
	    font-size: 20px;
	}

	.comment-user-avater img {
	    max-width: 45px;
	}

	.comment-text-body {
	    padding-left: 60px;
	}

	.comment-text-body h4 a {
	    display: block;
	    border: none;
	    margin-left: 0;
	    margin-top: 10px;
	}

	.comment-text-body h4 {
	    font-size: 18px;
	}

	.comment-text-body p {
	    line-height: 1.8;
	}

	.single-comment-body.child {
	    margin-left: 0;
	}
	.single-product-content h3 {
	    font-size: 20px;
	    line-height: 1.5;
	}
	a.mobile-hide.search-bar-icon {
	    display: none!important;
	}
	.mobile-show {
		display: block!important;
	}
	a.mobile-show.search-bar-icon {
	    position: absolute;
	    right: 60px;
	    top: 22px;
	    z-index: 999;
	    color: #fff;
	}
}
/* Wide Mobile Layout: 480px. */
@media only screen and (min-width: 480px) and (max-width: 767px) { 
	.hero-area div.hero-form {
	    margin: 0 auto;
	    right: auto;
	    width: 380px;
	    left: 50%;
	    margin-left: -190px;
	}

	.hero-btns {
	    text-align: center;
	}

	.hero-btns a.bordered-btn {
	    margin-left: 0;
	    margin-top: 15px;
	    display: block;
	}
}